<template name="gameScreen">
 <h3 class="text-center">Tug of War <span class="label label-default">Beta</span></h3>

<canvas id="drawframe" class="canvas" data-paper-resize="true" height=70%></canvas>
<button type="button" class="btn btn-info fullbutton pull-left" id="leftAddPower">Pull</button>
<button type="button" class="btn btn-info fullbutton pull-right" id="rightAddPower">Pull</button>
</template>