

<template name="login">

	
	<img  id="logo" class="img-responsive" src="mainLogoReal.jpg" width="500"> 
	
    <h3 class="text-center">Tug of War <span class="label label-default">Beta</span></h3>
   	

    <div id="registration" class="form-group">
          <input class="form-control input-sm" id="signup-username" placeholder="Player Name">
  
     <button type="button" class="btn btn-info fullbutton pull-right" id="signup">Next</button>
   	</div>
 
    <div id="selectSide" align="center">

     <button type="button" class="btn btn-info fullbutton " id="left">  <span class="badge">{{leftPlayerNo}}</span>Left</button>
     <button type="button" class="btn btn-info fullbutton " id="right"><span class="badge">{{rightPlayerNo}}</span>Right</button>
    </div>

    {{#if side}}
    {{>gameScreen}}
    {{/if}}
</template>
