<head>
<title>Tug of War</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.23/paper-core.min.js"></script>
</head>
<template name="main">
    {{#if side}}
    {{>gameScreen}}
    {{else}}
    {{>login}}
    {{/if}}
</template>